# Composer
composer.lock
composer.phar

# ThinkPHP
/runtime/
/.example
.env
.env.production
.env.testing

/vendor/


# Logs
*.log

# Sistema
.DS_Store
Thumbs.db

/public/static/img/

# Configuración local
# /config/database.php
# /config/app.php

# User
/database/seeds/UserSeeder.php
phinx.php