<hr class="pt-2 mt-0">
<!-- Grid row -->
<div class="row">
    <!-- Grid column -->
    <div class="col-12">
        <ul class="nav md-pills nav-justified pills-red pills-rounded">
            <li class="nav-item">
                <a class="nav-link{notempty name='option1'} active disabled{/notempty}" href="https://{$_SERVER['SERVER_NAME']}/politica-de-cookies.html" role="link">
                    <i class="bi bi-pin-angle-fill me-1" aria-hidden="true"></i>Política de Cookies
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link{notempty name='option2'} active disabled{/notempty}" href="https://{$_SERVER['SERVER_NAME']}/politica-de-privacidad.html" role="tab">
                    <i class="bi bi-shield-lock-fill me-1" aria-hidden="true"></i>Política de Privacidad
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link{notempty name='option3'} active disabled{/notempty}" href="https://{$_SERVER['SERVER_NAME']}/condiciones-de-uso.html" role="tab">
                    <i class="bi bi-paragraph me-1" aria-hidden="true"></i> Términos y Condiciones
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link{notempty name='option4'} active disabled{/notempty}" href="https://{$_SERVER['SERVER_NAME']}/como-comprar.html" role="tab">
                    <i class="bi bi-heart-fill me-1" aria-hidden="true"></i>Comprar Productos
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link{notempty name='option5'} active disabled{/notempty}" href="https://{$_SERVER['SERVER_NAME']}/preguntas-frecuentes.html" role="tab">
                    <i class="bi bi-question-circle-fill me-1" aria-hidden="true"></i>Preguntas Frecuentes
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link{notempty name='option6'} active disabled{/notempty}" href="https://{$_SERVER['SERVER_NAME']}/contacto.html" role="tab">
                    <i class="bi bi-person-vcard-fill me-1" aria-hidden="true"></i> Contacto Empresa
                </a>
            </li>
        </ul>
    </div>
    <!-- Grid column -->
</div>
<footer class="page-footer pt-3 mt-4 text-center text-md-left mdb-color lighten-4">
    <!--Copyright-->
    <div class="footer-copyright py-3 text-center">
        <div class="container-fluid mt-3 mb-3">
            <p class="text-center">
                Leadtech España NIF: N7201710F
                <a href="mailto:info@leadtech.es">
                    <i class="bi bi-envelope-fill"></i> info@leadtech.es
                </a>

                <!--<img src="/static/img/logo-leadtech30x30.png" width="12" height="12">-->
                Todos los derechos reservados © <?php echo date("Y"); ?>

                <a href="https://www.youtube.com/channel/UCbhYxUBuhdhgw8dWMrFSkWA">
                    <i class="bi bi-youtube"></i> Youtube
                </a>
            </p>
        </div>
    </div>
</footer>
{js href="/static/js/bootstrap.bundle.min.js" /}
</body>
</html>
