<div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 250px; height: 100vh;">
    <h4 class="mb-3"><a href="{:url('admin/dashboard')}">Admin Panel</a></h4>
    <ul class="nav nav-pills flex-column mb-auto">
        {foreach name="menuItems" item="links" key="section"}
        <li class="nav-item mb-2">
            <a class="nav-link d-flex justify-content-between align-items-center link-dark"
               data-bs-toggle="collapse"
               href="#submenu-{$section|md5}"
               role="button"
               aria-expanded="false"
               aria-controls="submenu-{$section|md5}">
                {$section}
                <span class="ms-2 arrow">▸</span>
            </a>
            <ul class="collapse list-unstyled ms-3 mt-1" id="submenu-{$section|md5}">
                {foreach name="links" item="url" key="label"}
                <li>
                    <a href="{:url($url)}" class="nav-link link-dark">{$label|ucfirst}</a>
                </li>
                {/foreach}
            </ul>
        </li>
        {/foreach}
    </ul>
</div>
