<ul class="nav nav-pills flex-column mb-auto">
    {foreach name="menuItems" item="links" key="section"}
        <li class="nav-item mb-2">
            <a class="nav-link d-flex justify-content-between align-items-center link-dark {if $activeSection == $section}active{/if}"
               data-bs-toggle="collapse"
               href="#submenu-{$section|md5}"
               role="button"
               aria-expanded="{if $activeSection == $section}true{else}false{/if}"
               aria-controls="submenu-{$section|md5}">
                {$section}
                <span class="ms-2 arrow">▾</span>
            </a>
            <ul class="collapse list-unstyled ms-3 mt-1 {if $activeSection == $section}show{/if}" id="submenu-{$section|md5}">
                {foreach name="links" item="url" key="label"}
                    <li>
                        <a href="{:url($url)}"
                           class="nav-link link-dark {if $currentRoute == $url}fw-bold disabled{/if}">
                            {$label|ucfirst}
                        </a>
                    </li>
                {/foreach}
            </ul>
        </li>
    {/foreach}
</ul>
