<IfModule mod_rewrite.c>
RewriteEngine on
RewriteBase /
RewriteRule ^(.*)$ /index.php?$1 [R,L]
</IfModule>

# Bloquear acceso directo a archivos sensibles
<Files "*.env">
    Order allow,deny
    Deny from all
</Files>

<Files "*.json">
    Order allow,deny
    Deny from all
</Files>