{extend name="admin/layout" /}

{block name="content"}

<h1>{if isset($meta)}Editar Meta{else}Crear Meta{/if}</h1>

{if session('error')}
<div class="alert alert-danger">{session('error')}</div>
{/if}

<form action="{:url('/admin/meta/update', ['id'=>$meta.id])}" method="post" novalidate>
    <div class="mb-3">
        <label for="page" class="form-label">Page</label>
        <input type="text" class="form-control" name="page" id="page" value="{if isset($meta)}{$meta.page}{/if}" required>
    </div>
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" name="title" id="title" value="{if isset($meta)}{$meta.title}{/if}" required>
    </div>
    <div class="mb-3">
        <label for="metatitle" class="form-label">MetaTitle</label>
        <input type="text" class="form-control" name="metatitle" id="metatitle" value="{if isset($meta)}{$meta.metatitle}{/if}" required>
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" name="description" id="description">{if isset($meta)}{$meta.description}{/if}</textarea>
    </div>
    <div class="mb-3">
        <label for="keywords" class="form-label">Keywords</label>
        <input type="text" class="form-control" name="keywords" id="keywords" value="{if isset($meta)}{$meta.keywords}{/if}">
    </div>

    <button type="submit" class="btn btn-primary">Editar</button>
    <a href="{:url('/admin/meta/index')}" class="btn btn-secondary">Cancelar</a>
</form>

{/block}
