{include file="index/common/header" /}


{include file="index/common/alert" /}

{include file="index/common/menu" /}


<div>Hello ThinkPHP8</div>


{volist name='brands' id='brand'}
    <li>
    	
    <a href="{:url('brand_info', ['slug' => $brand.slug], false)}">
        {$brand.brand_cn}
    </a>

<!--
    Slug: {$brand.slug}
<br>
URL generada: {:url('brand_info', ['slug' => $brand.slug])}
<br>
URL sin sufijo: {:url('brand_info', ['slug' => $brand.slug], false)}
-->
    </li>
{/volist}


{include file="index/common/footer" /}